div{
  margin:0 auto;
  height: 800px;
  width: 800px;
  background-color: green;
}
p{
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: cyan;
  border-radius: 40px;
  box-shadow: 2px 2px 5px grey,
              inset 2px 2px 5px grey;
  position:relative;
  top: ;
}
.fichab{
  background-color: black;
}
.margen{
  padding: 15px 15px 15px 15px;
}
.Naranja{
  float: left;
  width: 100px;
  height: 100px;
  background-color: orange;
}
.Marron{
  width: 100px;
  height: 100px;
  background-color: maroon;
  float: left;
}
.anulador{
  clear: both;
