body{
  background-color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    text-align: center;
}
ul{
width: 880px;
overflow: hidden;
margin: 0 auto;
padding: 10px;
}
li{
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  font-family: helvetica;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}
a {
  height: 120px;
  display: block;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
    color:black;
     padding-top: 80px;
}
a:hover {
  color: white;
  opacity: 0.6;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  height: 120px;
}
.anulador{
  clear: both;
}
#a01{
  background-image:url(img/a01.png);
  background-size: 100%;
}
#a02{
  background-image:url(img/a02.png);
  background-size: 100%;
}
#a03{
  background-image:url(img/a03.png);
  background-size: 100%;
}
#a04{
  background-image:url(img/a04.png);
  background-size: 100%;
}
#a05{
  background-image:url(img/a05.png);
  background-size: 100%;
}
#a06{
  background-image:url(img/a06.png);
  background-size: 100%;
}
#a07{
  background-image:url(img/a07.png);
  background-size: 100%;
}
#a08{
  background-image:url(img/a08.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a09{
  background-image:url(img/a09.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a10{
  background-image:url(img/a10.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a11{
  background-image:url(img/a11.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a12{
  background-image:url(img/a12.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a13{
  background-image:url(img/a13.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#a14{
  background-image:url(img/a14.png);
  background-size: 100%;
  background-repeat: no-repeat;
}